/* Dracula VSCode Theme Inspired Style Sheet */

/* Universal styles */
/* margin and padding are set to 0 
*/
body {
    color: #80FFEA;
    background-color: #282a36;
    font-family: Oswald, sans-serif;
    font-size: 400;
    line-height: 1.75;
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid #BD93F9;
    border-right: none;
    width: 100%;
    height: 100%;
}

/* All Dracula Colors as Gradient */
hr {
    height: 2px;
    background: linear-gradient(to right, #ff5555, #FF80BF, #FFCA80, #FFFF80, #8AFF80, #80FFEA, #BD93F9);
    width: 100%;
    margin: 0;
}

/* Header Styling */

.header {
    border-bottom: 3px solid #BD93F9;

    padding: 20px 20px;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    background-image: url(castle_silouhette_header.png);
    background-repeat: no-repeat; 
    background-size: 180px;
    background-position: right;
    background-color: black;
}

.header h1 {
    margin: 0;
    padding-left: 15px;
    text-align: left;
    color: red;
    font-size: 4.5rem;
    font-weight: 300;
}

/* Objective section styles */
.objective {
    margin-bottom: 30px;
}

p {
    text-align:center;
    font-size: 1.2rem;
}

h2 {
    text-align: center;
    color: #9580FF;
    font-size: 2rem;
}


/* Skills section & table styles */
/*  */

/* .skills {
    margin: 30px 0; */
/* } */

h2.skills{
    text-align: center;
}

th {
    color: #8AFF80;
    text-decoration: underline;
    text-align: center;
    font-size: 1.4rem;
}

tr {
    text-align: center;
    color: #FFFF80;
    font-size: 1.2rem;
    font-weight: 400;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

/* Work Exp. section */
h3 {
    color: #FFCA80;
    font-size: 1.5rem;
}



/* Education Section */

.education {
    list-style-type: none;
    text-align: center;
    /* margin: 30px 0; */
}

.education ul{
    list-style-type: none;
    text-align: left;
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Work Exp Section */

.work {
    margin: 30px 0;
    font-size: 1.2rem;
}

h3.work {
    color: #FFCA80;
    font-size: 1.4rem;
}
/*  */
/* Hobbies Section */

.hobbies {
    margin: 30px 0;
    font-size: 1.2rem;
}

.hobbies ol {
    padding-left: 40px;
    list-style-type: upper-roman;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Bottom Contact Me Section */

#selfie {
    border-radius: 50%;
    border-style: solid;
    border-color: #80FFEA;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.contact li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 1.2rem;
}

h2.contactme {
    color: #FF80BF;
    font-size: 3rem;
    margin-top: 0;
}

#contact {
    background-color: black;
    margin-top: none;
    color: #9580FF;
    font-size: 1.2rem;
}

#contact .contact a {
    color: #FF80BF;
    text-decoration: none;
}

ul.contact {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0;
    font-size: 1.5rem;
    font-weight: 450;
}

/* .contact ul li {
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
} */

ul li a:hover {
    color: #FF80BF;
    font-family: Nosifer;
    border: 10px;
    box-sizing: border-box;
}

ul li a:visited {
    color: #6272a4;
}

button {
    background-color:#ff5555;
    margin-bottom: 20px;
}

button:hover {
    background-color: #8AFF80;
    color: #282a36;
    font-family: Nosifer;
    font-size: larger;
    box-sizing: content-box;
}

form {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom:0;
    color: #BD93F9;
    font-size: 1.2rem;
    border: 5px;
}

input, textarea {
    outline: none;
}
input:focus {
    border: 6px solid #FF80BF;
}

textarea:focus {
    border: 6px solid #FF80BF;
}

