/* Dracula VSCode Theme Inspired Style Sheet */

/* Universal styles */
/* margin and padding are set to 0 
*/
body {
  color: #80ffea;
  background-color: #282a36;
  font-family: Oswald, sans-serif;
  line-height: 1.75;
  margin: 8px;
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 100%;
}

h3 {
  color: #ffca80;
}

h2 {
  text-align: center;
  color: #9580ff;
  font-size: 2rem;
}

/* All Dracula Colors as Gradient */
hr {
  height: 2px;
  background: linear-gradient(
    to right,
    #ff5555,
    #ff80bf,
    #ffca80,
    #ffff80,
    #8aff80,
    #80ffea,
    #9580ff
  );
  width: 100%;
  margin: 0;
}

/* Header and header elements styling */

#header {
  padding: 2px 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Derek Harris */
#h1 {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(160, 0, 0);
  text-align: center;
  font-size: 4.5rem;
  font-weight: 300;
  font-size: 6rem;
  font-family: Splash;
  text-shadow: white 3px 3px 5px, #ff80bf 3px 3px 5px, #bd93f9 3px 3px 5px;
  order: 2;
}

#selfie {
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(160, 0, 0);
  border-width: 5px;
  order: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* container for all of Header and H1 elements */
#header-container {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* Objective section styles */
.Objective {
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* selfie to the top left */
#selfie {
  align-self: flex-start;
}

.Objective .Objective-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.Objective p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}

.Objective h2 {
  text-align: center;
  color: #9580ff;
  font-size: 3.8rem;
}

/* Skills section & table styles */
/*  */

.Skills {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Skills h2 {
  text-align: center;
  font-size: 4rem;
  padding-left: 30px;
  color: #80ffea;
}

.Skills-table th {
  color: #8aff80;
  text-decoration: underline;
  text-align: center;
  font-size: 1.4rem;
}

.Skills-table tr {
  text-align: center;
  color: #ffff80;
  font-size: 1.2rem;
  font-weight: 400;
}

.Skills-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

/* work and education parent container */
/* work and education will appear SxS evenly consuming page space */
.Education-Work-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Education-Work-container ul {
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
}

/* Education Section */

.Education {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  display: inline-block;
  text-align: center;
  width: 50%;
  border-right: 3px solid #ffff80;
}

.Education h2 {
  text-align: center;
  color: #9580ff;
  font-size: 2rem;
  margin: 0;
}

.Education ul {
  border-right: none;
}

.Education ul li ul {
  padding: 0;
}

/* Work Exp Section */

.Work {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.Work ul {
  padding: 0 10px;
  margin-top: 0;
}

.Work h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Work h3 {
  color: #ffca80;
  font-size: 1.4rem;
}

/*  */
/* Hobbies Section */

.Hobbies {
  margin: 30px 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Hobbies h2 {
  font-size: 6rem;
  margin: 0;
  text-shadow: #ff80bf 3px 3px 5px;
  order: 2;
}

.Hobbies ol {
  margin: 0;
  list-style-type: upper-roman;
  font-size: 1.5rem;
  font-weight: 400;
  color: #8aff80;
  text-shadow: black 3px 3px 5px;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* Bottom Contact Me Section */
/*  */

/* Contact Me Section Parent Container */

.Contact {
  /* min-height: 505px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 2;
  background-image: url(./bat_logo.png);
  background-repeat: no-repeat;
  background-position: right 0% top -15%;
  background-size: 500px 500px;
  background-color: black;
  padding: 30px;
  color: #9580ff;
  font-size: 1.2rem;
}

/* Contact Me content */
.Contact-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.Contact-info {
  list-style-type: none;
  text-align: right;
  padding-left: 0;
  font-size: 1.5rem;
  font-weight: 450;
  order: 2;
}

.Contact-form {
  order: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #9580ff;
  font-size: 1.5rem;
  line-height: 1.8;
  border: 5px;
}

.Contact h2 {
  color: #ff80bf;
  text-shadow: #bd93f9 3px 3px 5px;
  text-decoration: #ff80bf underline;
  font-size: 5rem;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 80px;
}

.Contact a {
  color: #9580ff;
  text-decoration: none;
  transition: 1s ease;
}

.Contact ul li a:hover {
  color: #ff80bf;
  /* font-family: Nosifer; */
  /* border: none;
  box-sizing: content-box; */
  transform: scale(1.5);
}

.Contact ul li a:visited {
  color: #6272a4;
}

/* Submit button will swell and change color and font when hovered */
.Contact-button {
  background-color: #ff5555;
  color: black;
  border-width: 4px;
  transition: background-color 1s ease-out, transform 1s ease-in;
}

.Contact-button:hover {
  color: #282a36;
  background-color: #8aff80;
  transform: scale(1.1);
}

.Contact-form input,
textarea {
  outline: none;
}

.Contact-form input:focus {
  border: 6px solid #ff80bf;
}

.Contact-form textarea:focus {
  border: 6px solid #ff80bf;
}

/* Styling for the bottom Gradient Line on the page */
#hr-contact-bottom {
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/*  */
/*  */
/*  */
/* Media Queries */

/* Mobile Styles */
@media (max-width: 768px) {
  body {
    font-size: 1rem;
    background-color: black;
    line-height: 1.2;
    padding: 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  /* Hide all horizontal rules except those in the header  on mobile devices */
  hr {
    display: none;
  }
  /* mobile-div controls the alignment of content on mobile devices */
  .Mobile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }

  .Header-hr {
    display: block;
    z-index: 2;
  }

  #header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 5px 30px 5px;
  }

  #header {
    padding-left: 0;
    padding-right: 0;
  }

  #h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 0;
  }

  #selfie {
    width: 150px;
    height: 150px;
    order: 0;
    align-self: center;
  }

  .Objective {
    flex-direction: column;
    align-items: flex-start;
    background-color: #282a36;
    border: 3px solid #282a36;
    margin: 0;
    margin-top: 10%;
    padding-top: 10px;
    border-radius: 15px 15px 15px 15px;
  }

  .Objective h2 {
    font-size: 2.3rem;
    order: 1;
    margin: 0;
  }

  .Objective p {
    font-size: 1.1rem;
    text-align: center;
    order: 2;
  }

  .Education-Work-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Education,
  .Work {
    background-color: #282a36;
    border: 3px solid #282a36;
    border-radius: 15px 15px 15px 15px;
    padding: 0;
    margin: 10px;
  }

  .Education h2,
  .Work h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  .Education h3,
  .Work h3 {
    font-size: 1.3rem;
    color: #ffca80;
  }

  .Education ul,
  .Work ul {
    font-size: 1rem;
  }

  .Education {
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.1rem;
    width: 100%;
  }

  .Work {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    width: 100%;
  }

  .Skills {
    flex-direction: column;
    justify-content: space-between;
    background-color: #282a36;
    border: 3px solid #282a36;
    border-radius: 15px 15px 15px 15px;
    margin: 20px;
    width: 100%;
  }

  .Skills h2 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }

  .Skills-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    line-height: 1.5;
  }

  .Skills-table th {
    font-size: 1.2rem;
    color: #8aff80;
    text-decoration: underline;
  }

  .Skills-table tr {
    font-size: 1rem;
    color: #ffff80;
  }

  .Skills-table th:first-child,
  .Skills-table td:first-child {
    /* Styles for the first child of the th elements */
    /* push content to the left for readability */
    text-align: left;
  }

  .Skills-table th:last-child,
  .Skills-table td:last-child {
    /* Styles for the last child of the th & td elements */
    /* push content to the right for readability */
    text-align: right;
  }

  .Hobbies {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: #282a36;
    border: 3px solid #282a36;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
  }

  .Hobbies h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    order: 0;
    text-shadow: none;
  }

  .Hobbies ol {
    align-items: flex-start;
    font-size: 1.2rem;
  }

  .Contact {
    padding: 20px;
    background-color: #282a36;
    border: 3px solid #282a36;
    background-image: none;
    border-radius: 15px 15px 15px 15px;
    margin: 20px 0;
  }

  .Contact h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    text-shadow: none;
  }

  .Contact-info {
    order: 1;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .Contact-form {
    order: 2;
    text-align: left;
    line-height: 1.5;
    font-size: 1.1rem;
  }

  #css-validation {
    order: 4;
  }
}

/* Tablet Styles */
/* General font sizing, margins and flex alignment */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 1.5rem;
    background-color: black;
    line-height: 1.5;
    padding: 16px;
    margin: 8px;
  }

  h2 {
    font-size: 2rem;
  }

  .Objective {
    flex-direction: column;
    align-items: center;
    background-color: #282a36;
    border: 3px solid #282a36;
    margin: 20px;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
  }

  .Objective h2 {
    font-size: 3.5rem;
    margin: 0;
    text-align: right;
  }

  .Objective-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
  }

  .Objective p {
    text-align: right;
    font-size: 1.3rem;
  }

  .Education,
  .Work {
    background-color: #282a36;
    border: 3px solid #282a36;
    border-radius: 15px 15px 15px 15px;
    margin: 10px;
    width: 50%;
  }

  .Skills {
    background-color: #282a36;
    border: 3px solid #282a36;
    border-radius: 15px 15px 15px 15px;
    margin: 10px auto;
    /* width: 100%; */
  }

  .Skills h2 {
    padding: 20px;
    margin: 0;
    text-align: center;
  }

  .Hobbies {
    background-color: #282a36;
    border: 3px solid #282a36;
    border-radius: 15px 15px 15px 15px;
    margin: 10px auto;
    width: 100%;
  }

  .Hobbies h2 {
    font-size: 5rem;
    text-align: center;
    order: 0;
  }

  .Hobbies ol {
    align-items: flex-end;
  }

  .Contact {
    background-color: #282a36;
    background-image: none;
    border: 3px solid #282a36;
    border-radius: 15px 15px 15px 15px;
    margin: 20px 0;
    padding: 20px;
  }

  .Contact h2 {
    font-size: 2.8rem;
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
    text-shadow: none;
  }

  .Contact-info {
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.5;
    order: 2;
  }

  .Contact-form {
    order: 0;
    text-align: left;
    line-height: 1.5;
    font-size: 1.4rem;
  }

  #css-validation {
    order: 1;
  }
}
