/* Dracula VSCode Theme Inspired Style Sheet */

/* Universal styles */
/* margin and padding are set to 0 
*/
body {
    color: #80FFEA;
    background-color: #282a36;
    font-family: Oswald, sans-serif;
    line-height: 1.75;
    margin: 2px;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
}

h3 {
    color: #FFCA80;
}

h2 {
    text-align: center;
    color: #9580FF;
    font-size: 2rem;
}


/* All Dracula Colors as Gradient */
hr {
    height: 2px;
    background: linear-gradient(to right, #ff5555, #FF80BF, #FFCA80, #FFFF80, #8AFF80, #80FFEA, #BD93F9);
    width: 100%;
    margin: 0;
}



/* Header and header elements styling */

.header {
    padding: 2px 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Derek Harris */
#h1 {
    margin: 0;
    padding-right: 20px;
    color: rgb(160, 0, 0);
    font-size: 4.5rem;
    font-weight: 300;
    font-size: 5rem;
    font-family: Splash;
    text-shadow: white 3px 3px 5px, #FF80BF 3px 3px 5px, #BD93F9 3px 3px 5px;
    display: inline-block;
    order: 2;
}

#selfie {
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(160, 0, 0);
    border-width: 5px;
    display: inline-block;
    order: 1;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* container for all of  */
#header-container {
    position: sticky;
    top: 0;
    z-index: 100;
}

#header-hr-top {
    margin: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff5555, #FF80BF, #FFCA80, #FFFF80, #8AFF80, #80FFEA, #BD93F9);

}

#header-hr-bottom {
    margin: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff5555, #FF80BF, #FFCA80, #FFFF80, #8AFF80, #80FFEA, #BD93F9);

}


/* Objective section styles */
#objective {
    margin-bottom: 30px;
}

#objective p {
    text-align: center;
    font-size: 1.3rem;
    font-weight:300
}

#objective h2 {
    text-align: center;
    color: #9580FF;
    font-size: 3.8rem;
}


/* Skills section & table styles */
/*  */

#skills {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#skills h2 {
    text-align: center;
    font-size: 4rem;
    padding-left: 30px;
    color:#80FFEA;
}

#skills th {
    color: #8AFF80;
    text-decoration: underline;
    text-align: center;
    font-size: 1.4rem;
}

#skills tr {
    text-align: center;
    color: #FFFF80;
    font-size: 1.2rem;
    font-weight: 400;
}

#skills table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}


/* work and education parent container */
/* work and education will appear SxS evenly consuming page space */
#education-work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    margin: 0;
    padding: 0;
}


#education-work-container ul {
    margin-bottom: 10px;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
    list-style-type: none;
    text-align: center;
    box-sizing: border-box;
    
}

/* Education Section */

.education {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    display: inline-block;
    text-align: center;
    width: 50%;
    border-right: 3px solid #FFFF80;
}

.education h2 {
    text-align: center;
    color: #9580FF;
    font-size: 2rem;
    margin: 0;
}

.education ul {
    border-right: none;
}

.education ul li ul {
    padding: 0;
}

/* Work Exp Section */

#work-container {
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#work-container ul {
    padding: 0 10px;
    margin-top: 0;
}

#work-container h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#work-container h3 {
    color: #FFCA80;
    font-size: 1.4rem;
}

/*  */
/* Hobbies Section */

#hobbies {
    margin: 30px 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#hobbies h2 {
    font-size: 6rem;
    margin: 0;
    text-shadow:#FF80BF 3px 3px 5px;
    order: 2;
}

#hobbies ol {
    margin: 0;
    list-style-type: upper-roman;
    font-size: 1.5rem;
    font-weight: 400;
    color: #8AFF80;
    text-shadow: black 3px 3px 5px;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}



/* Bottom Contact Me Section */
#contact-hr-top {
    margin: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff5555, #FF80BF, #FFCA80, #FFFF80, #8AFF80, #80FFEA, #BD93F9);
}

/* Contact Me Section Parent Container */

#contact-container {
    /* min-height: 505px; */
    display:flex;
    flex-flow: column;
    justify-content: center;
    /* position: relative; */
    z-index: 2;
    background-image: url(./bat_logo.png);
    background-repeat: no-repeat;
    background-position: right 8% top -10%;
    background-size: 450px 450px;
    background-color: black;
    padding: 30px;
    color: #9580FF;
    font-size: 1.2rem;
}

.contact-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}


#contact-info {
    list-style-type: none;
    text-align: right;
    padding-left: 0;
    font-size: 1.5rem;
    font-weight: 450;
    order: 2;
}

#contact-form {
    order: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    color: #9580FF;
    font-size: 1.5rem;
    line-height: 1.8;
    border: 5px;
}

#contact-container h2 {
    color: #FF80BF;
    text-shadow: #BD93F9 3px 3px 5px;
    text-decoration: #FF80BF underline;
    font-size: 5rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: 80px;
}

#contact-container a {
    color: #FF80BF;
    text-decoration: none;
}

ul li a:hover {
    color: #FF80BF;
    font-family: Nosifer;
    border: 10px;
    box-sizing: border-box;
}

ul li a:visited {
    color: #6272a4;
}

#contact-form button {
    background-color:#ff5555;
}

#contact-form button:hover {
    background-color: #8AFF80;
    color: #282a36;
    font-family: Nosifer;
    font-size: larger;
    box-sizing: content-box;
}

#contact-form input, textarea {
    outline: none;
}
#contact-form input:focus {
    border: 6px solid #FF80BF;
}

#contact-form textarea:focus {
    border: 6px solid #FF80BF;
}

/* Styling for the bottom Gradient Line on the page */
#hr-contact-bottom {
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


